body {
  font-family: Arial, sans-serif;
  font-size: 15px;
}

header {
  background-color: #f9ec4b;
}

nav {
  background-color: #fdfdc4;
  display: inline-block;
  width: 80%;
}

nav img {
  width: 10%;
}

main {
  background-color: #fcfde9;
  font-size: 18px;
}

footer {
  background-color: #fcfde9;
}

/*li {
  display: inline-block;
  width: 150px;
}*/

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}

p {
  line-height: 1.5;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
}

.grid img {
  width: 100%;
}

.grid {
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}

.flex {
  display: flex;
}

.flex {
  flex-wrap: wrap;
  justify-content: space-between;
}